In [1]:
import pandas as pd

In [2]:
file="zillow_rental_data.csv"

In [3]:
file_df = pd.read_csv(file, encoding="ISO-8859-1")
file_df.head()

,"<html><head></head><body><pre style=""word-wrap: break-word; white-space: pre-wrap;"">RegionID",RegionName,SizeRank,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,...,2020-09,2020-10,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06
0,102001,United States,0.0,1358.0,1364.0,1369.0,1375.0,1381.0,1386.0,1392.0,...,1713.0,1717.0,1724.0,1730.0,1737.0,1744.0,1750.0,1757.0,1765.0,1772.0
1,394913,"New York, NY",1.0,2261.0,2272.0,2282.0,2292.0,2302.0,2312.0,2322.0,...,2517.0,2503.0,2493.0,2483.0,2473.0,2464.0,2456.0,2447.0,2440.0,2432.0
2,753899,"Los Angeles-Long Beach-Anaheim, CA",2.0,1771.0,1781.0,1792.0,1803.0,1813.0,1824.0,1835.0,...,2400.0,2402.0,2407.0,2412.0,2417.0,2422.0,2428.0,2433.0,2439.0,2445.0
3,394463,"Chicago, IL",3.0,1501.0,1505.0,1509.0,1513.0,1517.0,1520.0,1524.0,...,1727.0,1725.0,1725.0,1726.0,1726.0,1726.0,1727.0,1728.0,1729.0,1730.0
4,394514,"Dallas-Fort Worth, TX",4.0,1178.0,1182.0,1186.0,1190.0,1194.0,1197.0,1201.0,...,1514.0,1521.0,1529.0,1537.0,1546.0,1554.0,1563.0,1572.0,1581.0,1591.0

In [4]:
new_file=file_df.rename(columns={'<html><head></head><body><pre style="word-wrap: break-word; white-space: pre-wrap;">RegionID': 'RegionID'})

In [5]:
clean_file=new_file.dropna(how="any")

In [6]:
data=clean_file.drop(['SizeRank', 'RegionID'], axis=1)

In [7]:
data

,RegionName,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,2014-09,...,2020-09,2020-10,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06
0,United States,1358.0,1364.0,1369.0,1375.0,1381.0,1386.0,1392.0,1397.0,1403.0,...,1713.0,1717.0,1724.0,1730.0,1737.0,1744.0,1750.0,1757.0,1765.0,1772.0
1,"New York, NY",2261.0,2272.0,2282.0,2292.0,2302.0,2312.0,2322.0,2332.0,2342.0,...,2517.0,2503.0,2493.0,2483.0,2473.0,2464.0,2456.0,2447.0,2440.0,2432.0
2,"Los Angeles-Long Beach-Anaheim, CA",1771.0,1781.0,1792.0,1803.0,1813.0,1824.0,1835.0,1845.0,1856.0,...,2400.0,2402.0,2407.0,2412.0,2417.0,2422.0,2428.0,2433.0,2439.0,2445.0
3,"Chicago, IL",1501.0,1505.0,1509.0,1513.0,1517.0,1520.0,1524.0,1528.0,1532.0,...,1727.0,1725.0,1725.0,1726.0,1726.0,1726.0,1727.0,1728.0,1729.0,1730.0
4,"Dallas-Fort Worth, TX",1178.0,1182.0,1186.0,1190.0,1194.0,1197.0,1201.0,1205.0,1209.0,...,1514.0,1521.0,1529.0,1537.0,1546.0,1554.0,1563.0,1572.0,1581.0,1591.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,"Provo, UT",979.0,983.0,987.0,992.0,996.0,1000.0,1004.0,1009.0,1013.0,...,1334.0,1345.0,1357.0,1369.0,1382.0,1395.0,1407.0,1420.0,1434.0,1447.0
97,"Durham, NC",1165.0,1169.0,1172.0,1176.0,1179.0,1183.0,1186.0,1190.0,1193.0,...,1439.0,1443.0,1449.0,1454.0,1460.0,1466.0,1471.0,1477.0,1483.0,1489.0
98,"Port St. Lucie, FL",1110.0,1119.0,1127.0,1136.0,1144.0,1152.0,1161.0,1169.0,1177.0,...,1710.0,1726.0,1745.0,1765.0,1784.0,1804.0,1825.0,1845.0,1866.0,1886.0
99,"Fort Collins, CO",1201.0,1207.0,1214.0,1220.0,1227.0,1233.0,1240.0,1246.0,1253.0,...,1539.0,1545.0,1551.0,1558.0,1564.0,1571.0,1578.0,1585.0,1592.0,1599.0
100,"Boulder, CO",1466.0,1473.0,1480.0,1487.0,1495.0,1502.0,1510.0,1517.0,1525.0,...,1921.0,1930.0,1940.0,1950.0,1961.0,1971.0,1982.0,1993.0,2004.0,2015.0